/* Gradient colors */
:root {
    --primary-gradient: linear-gradient(135deg, #0c0c0c, #2a2727);
}

/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(10, 10, 10);

}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 25px;
    background: var(--primary-gradient);
    color: white;
}
button.navbar-toggler{
    background-color: rgb(84, 60, 60);
}
a.nav-link {
    color: #fff;
}

h2.title {
    color: #fff;
}

p {
    color: #fff;
}

.header .title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.header p {
    font-size: 1.5rem;
}

.header img {
    max-width: 100%;
    margin-bottom: 1rem;
}

.imagen1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen1 img {
    max-width: 100%;
    max-height: 100%;
}

.content.prices {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(60, 59, 59, 0.7)), url(./assets/img/foto.4.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Estilos para el artículo */
.contain2 {
    max-width: 80%;
    padding: 20px;
    background-color: #111010;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.contain2 p {
    font-size: 1.5rem;
    margin: 0;
    background-color: #0c0c0c;

}

/* Main */
main {
    background-color: #0d0d0d;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-register {
    background-color: #332f2f; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 1.5625rem;
    width: 80%; /* Ancho del formulario */
    max-width: 400px; /* Ancho máximo del formulario */
}

.form-register h4 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.controls {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
}

.botons {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000000; /* Botón negro */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.botons:hover {
    background-color: #450202; 
}

.account-links {
    text-align: center;
}

.account-links a {
    color: #000000; 
    text-decoration: none;
    transition: color 0.3s ease; /
}

.account-links a:hover {
    color: #440202; /
}



/* Plan boxes */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
    padding: 2rem;
    border-radius: 10px;
    color: rgb(150, 143, 4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.box h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.box p {
    font-size: 1.2rem;
}

/* Estilos para el texto "Acerca del gimnasio y los planes" */
.about-gym {
    padding: 20px;
    background-color: #282727;
    border-radius: 5px;
}

.about-gym h2 {
    font-size: 32px;
    color: #e9e3e3;
    margin-bottom: 20px;
}

.about-gym h3 {
    font-size: 24px;
    color: #f2f0f0;
    margin-bottom: 10px;
}

.about-gym p {
    font-size: 16px;
    color: #e8e3e3;
    margin-bottom: 20px;
}

.about-gym ul {
    list-style: disc;
    margin-left: 20px;
}

.about-gym li {
    font-size: 16px;
    color: #fbf9f9;
    margin-bottom: 10px;
}


/* About and Price sections */
.content {
    padding: 2rem;
}


.about p,
.price p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilo para la sección Nosotros */
.nosotros-section {
    padding: 50px 0;
    background-color: #a29f9f;
}

.nosotros-section img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nosotros-section h2.title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.nosotros-section p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

blockquote {
    font-size: 18px;
    color: #555;
    border-left: 4px solid #007bff;
    padding-left: 20px;
    margin-top: 30px;
}

blockquote cite {
    display: block;
    font-size: 16px;
    font-style: italic;
    color: #777;
    margin-top: 10px;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--primary-gradient);
    color: rgb(242, 232, 232);
}

footer .contacto h3,
footer .redes-sociales h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Estilos para las redes sociales */
.redes-sociales {
    text-align: center;
}

/* Estilos para los íconos de redes sociales */
.redes-sociales ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.redes-sociales li {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales a {
    color: #f8f0f0;
    font-size: 1.5rem;
    text-decoration: none;
}

.redes-sociales i {
    transition: color 0.3s;
}

/* Estilos al pasar el ratón por encima de los íconos */
.redes-sociales a:hover i {
    color: #b4a71d;
}


article {
    background-color: #020202;
}

/* Media queries */
@media screen and (min-width: 1024px) {
    .content.prices {
        height: 100vh;
        padding: 50px;
    }

    .imagen2 img {
        max-height: 80vh;
        /* Limitamos la altura de la imagen en dispositivos grandes */
    }

    .contain2 {
        max-width: 50%;
        /* Reducimos el ancho del artículo en dispositivos grandes */
    }
}

@media screen and (max-width: 768px) {
    .box-container {
        grid-template-columns: 1fr;
    }
}

.content.prices {
    flex-direction: column;
    /* Cambiamos la dirección del flex para apilar los elementos */
    padding: 20px;
    /* Ajustamos el espaciado para dispositivos móviles */
}

.imagen2 img {
    max-width: 100%;
    max-height: 50vh;
}

.contain2 {
    max-width: 100%;
    /* El artículo ocupará todo el ancho de la pantalla en móviles */
}


@media screen and (max-width: 600px) {
    header .title {
        font-size: 2rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .box {
        padding: 1rem;
        margin: 0.5rem;
    }

    .box i {
        font-size: 2rem;
    }

    .box h3 {
        font-size: 1.5rem;
    }

    .box p {
        font-size: 1rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}