/* Main */
main {
    background-color: #0d0d0d;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-register {
        background-color: #332f2f;
        /* Fondo blanco */
        border-radius: 10px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 1.5625rem;
        width: 80%;
        /* Ancho del formulario */
        max-width: 400px;
        /* Ancho máximo del formulario */

        h4 {
            text-align: center;
            margin-bottom: 20px;
            color: white;
        }

        .controls {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            /* Borde gris claro */
            border-radius: 5px;
        }

        .botons {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #000000;
            /* Botón negro */
            color: #ffffff;
            /* Texto blanco */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .botons:hover {
            background-color: #450202;
        }

        .account-links {
            text-align: center;

            a {
                color: #000000;
                text-decoration: none;
                transition: color 0.3s ease;
            }

            a:hover {
                color: #440202;
            }
        }
    }
}

/* Plan boxes */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000000;
        padding: 2rem;
        border-radius: 10px;
        color: rgb(150, 143, 4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        i {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

/* Estilos para el texto "Acerca del gimnasio y los planes" */
.about-gym {
    padding: 20px;
    background-color: #282727;
    border-radius: 5px;

    h2 {
        font-size: 32px;
        color: #e9e3e3;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 24px;
        color: #f2f0f0;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        color: #e8e3e3;
        margin-bottom: 20px;
    }

    ul {
        list-style: disc;
        margin-left: 20px;

        li {
            font-size: 16px;
            color: #fbf9f9;
            margin-bottom: 10px;
        }
    }
}

/* About and Price sections */
.content {
    padding: 2rem;

    .about,
    .price {
        p {
            font-size: 1.5rem;
            line-height: 1.6;
        }
    }

    .title {
        display: flex;
        justify-content: center;
        margin-top: 0;
        font-size: 50px;
    }
    .title p{
        margin: 0;
        font-size: 50px;
    }
    .imagen2 img {
        max-width: 100%;
        height: auto;
    }
    .contain2{
        padding: 20px;
        background-color: #383838;
        text-align: center;
    }
    
    }

    /* Estilo para la sección Nosotros */
    .nosotros-section {
        padding: 50px 0;
        background-color: #a29f9f;
        }

        img {
            width: 100%;
            max-width: 600px;
            justify-content: center;
            display: block;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h2.title {
            font-size: 28px;
            color: #dcdcdc;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            color: #555;
            line-height: 1.6;
        }

        blockquote {
            font-size: 18px;
            color: #555;
            border-left: 4px solid #007bff;
            padding-left: 20px;
            margin-top: 30px;
            }

            cite {
                display: block;
                font-size: 16px;
                font-style: italic;
                color: #777;
                margin-top: 10px;
            }